[Unit]
Description=isuxi-perl
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/webapp/perl
EnvironmentFile=/home/isucon/env.sh
Environment=PLACK_ENV=production

ExecStart=/home/isucon/.local/perl/bin/carton exec -- plackup -s Gazelle -p 8080 --workers 10 --max-reqs-per-child=200000 --min-reqs-per-child=100000 -a app.psgi

[Install]
WantedBy=multi-user.target
